/* Body */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(patinha.png);
  
  }
  
  /* Cabecalho */
  
  header {
    background-color: #54644B;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav {
    display: flex;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    text-align: 10px;
    margin-left: 30px;
  }
  
  nav a:hover {
    text-decoration: underline;
    font-weight: bold;
  }
  
  /* formulario */
  #requerimentosDisplay {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 40vw;
    background: #A4B79A;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    overflow: auto;
    z-index: 1;
    margin-top: 10px;
  }

  #closeButton
  {
    background-color:#DB5656;
  }
  
  .requerimento2
  {
    margin-top: 20px;
  
  }
  ul {
    list-style: none;
  }
  .req
  {
    font-weight: bold; 
    color: black;
   
  }
  .preq {
    color: white;
  }
  .req-animal
  {
    color: #54644B;
    font-weight: bold;
    text-align: center;
  }
  /* Conteudo principal */
  
  .container
  {
    margin: 9% 0;
  
  }
  .titulo {
    margin-left: 25px;
    padding: 0px;
  }
  
  .Requerimentos
  {
    box-sizing: border-box;
    background-color: #A4B79A;
    margin: 30px;
    border-radius: 6px;
    padding: 30px;
  }
  
  .centerB {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    margin: 17px;
    height: 20px;
  }
  
  .adotou:hover {
    transform: scale(1.1); /* (110% tamanho original) */
  }
  
  .adotou
  {
    background-color: #69BE3C;
    transition: transform 0.2s; /* Animação */
  }
  .nao-adotou
  {
    background-color: #DB5656;
    transition: transform 0.2s; /* Animação */
  }
  .nao-adotou:hover {
    transform: scale(1.1); /* (110% tamanho original) */
  }
  
  .imagemreq {
    transition: transform 0.2s; /* Animação */
  }
  
  .img-animal
  {
    height: 400px;
    width: 300px;
  }
  .imagemreq:hover {
    transform: scale(1.1); /* (110% tamanho original) */
  }
  
  /* Rodape */
  
  footer {
        background-color: #54644B;
        color: white;
        text-align: center;
        width: 100%;
        position: fixed;
        bottom: 0;
  }

  /* Estilo para dispositivos com largura de tela menor que 600px (como celulares) */
@media only screen and (max-width: 600px) {

  #requerimentosDisplay {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 80%;
    background: #A4B79A;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    overflow: auto;
    z-index: 1;
    margin-top: 10px;
  }
}

/* Estilo para dispositivos com largura de tela entre 600px e 1200px (como tablets) */
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  #requerimentosDisplay {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80%;
    background: #A4B79A;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    overflow: auto;
    z-index: 1;
    margin-top: 10px;
  }
}

/* Estilo para dispositivos com largura de tela maior que 1200px (como desktops) */
@media only screen and (min-width: 1000px) and (max-width: 1732px) {
  #requerimentosDisplay {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 80%;
    background: #A4B79A;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    overflow: auto;
    z-index: 1;
    margin-top: 10px;
  }
}
