* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /*background-image: url(https://img.freepik.com/vetores-premium/padrao-sem-emenda-de-pata-de-cachorro-no-fundo-branco-padrao-sem-emenda-de-pegada-de-gato_511024-832.jpg);*/
  background-image: url(imgs/fundoPatinhasVerdes.avif);
  background-repeat: repeat;
  background-size:auto;
}

/* Cabecalho */

#menu {
  background-color: #54644B;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  text-align: 10px;
  margin-left: 30px;
}

nav a:hover {
  text-decoration: underline;
  font-weight: bold;
}

#cards {
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.card {
  background-color: antiquewhite;
  width: 180px;
  height: 300px;
  border-radius: 12px;
  box-shadow: 4px 4px 12px #fff;
  margin-bottom: 20px;
}

#cardMasculino {
  background-color: rgb(190, 227, 240);
}

.card img {
  width: 100%;
  height: 130px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 50%;
}

.card h1 {
  padding-top: 10px;
  font-size: 1.2rem;
}

.card h2 {
  font-size: 0.9rem;
  color: #252525aa;
  text-align: center;
  padding: 10px;
}

.card div img {
  height: 30px;
  width: 30px;
}


.card span {
  font-size: 1rem;
}

.card button {
  background-color: blue;
  height: 30px;
  border: none;
  padding: 4px;
  width: 80%;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3px;
}

.card button:hover {
  background-color: #137de8;
  cursor: pointer;
}

.modal {

    position: fixed;
    z-index: 10;
    width: 50vw;
    height: auto;
    left: 25vw;
    top: 50vh;
    background-color: antiquewhite;
    transform: translateY(-25%);
    padding: 1rem;
    border: 1px solid silver;
    box-shadow: 4px 4px 8px black;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 200ms ease-out;
    max-height: 85%;
    overflow-y: auto;

  }
  
  .modal ul {
  
    list-style-type: none;
  
  }
  
  .modal.visivel {
  
    opacity: 1;
    transform: translateY(-50%);
    pointer-events: initial;
  
  }
  
  #cabecalhoModal {
  
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black
    
  }
  
  #corpoModal {
  
    padding: 1em 0;
    
  }
  
  #rodapeModal {
  
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid black;
    padding-top: 0.75em;
    
  }
  
  
  span.fechar-modal {
  
    background-color: silver;
    border-radius: 50%;
    display: flex;
    width: 1.25em;
    height: 1.25em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
  }
  
  #botaoFecharModal {
  
    background-color: silver;
    width: 5%;
    height: 3%;
    cursor: pointer;
  
  }
  
  #mascara {
  
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: 0;
    pointer-events: none;
  
  }
  
  .modal.visivel ~ #mascara {
  
    opacity: 0.1;
    pointer-events: initial;
    
    }


  .flexPerfil {
      display: flex;
      align-items: center;
      justify-content: flex-start; 
      padding: 10px; 
  }
  
  .flexPerfil > div {
      margin-right: 20px; 
  }

  #descricao {
    text-align: justify;
  }
  
  #avatarPrincipal {
      width: 250px; 
      height: 250px; 
      border-radius: 50%; 
      object-fit: cover; 
      border: 1px solid black;
  }
  
  .informacoes p {
      margin: 10px 0px; 
  }
  
  #nomeAutor {
      color: rgb(0, 0, 0);
      font-size: 1.2rem;
      font-weight: bold;
  }

/* CSS */
.button-44 {
  background: #e62143;
  border-radius: 11px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
  font-size: 1.15em;
  font-weight: 700;
  justify-content: center;
  line-height: 33.4929px;
  padding: .8em 1em;
  text-align: center;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
  text-underline-offset: 1px;
  transition: all .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  word-break: break-word;
  border: 0;
}

.button-44:active,
.button-44:focus {
  border-bottom-style: none;
  border-color: #dadada;
  box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
  outline: 0;
}

.button-44:hover {
  border-bottom-style: none;
  border-color: #dadada;
}

.M {
  background-color: lightblue;
}

.M .button-44 {
  background-color: rgb(26, 137, 173);
} 


#filtro-container {
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  color: black;
}

.filter-container {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.filter-container label {
  font-weight: bold;
}

.filter-container select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-container select:hover {
  border-color: #888;
}

.footer-estilizado {
  background-color: #3b4635;
  color: white; 
  padding: 20px; 
  text-align: center; 
  font-size: 1rem; 
  margin-top: 50px;
}

.footer-estilizado p {
  margin: 0; 
}

.footer-estilizado span {
  font-weight: bold; 
}
