body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(ghpatinhas_felizes.jpg);
}


header {
    background-color: #54644B;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    height: 60px;
    flex-shrink: 0;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    box-sizing: border-box;
}

.pagina-container {
    background-color: #a5b79b;
    width: 60vw;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px black solid;
    border-radius: 12px;
    box-sizing: border-box;
}

.titulo {
    margin-bottom: 24px;
    font-size: 24px;
    color: #333;
}

.botao-cadastro-container {
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.botao-cadastro {
    background-color: #54634b;
    color: white;
    width: 150px;
    height: 48px;
    border-radius: 20px;
    transition: 200ms;
    cursor: pointer;
}

.botao-cadastro:hover {
    background-color: black;
}

.formularios-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    flex-wrap: nowrap;
}

.formulario-box {
    background-color: #c9d8bf;
    width: 48%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: 3px black solid;
    border-radius: 12px;
    margin: 12px 0;
    box-sizing: border-box;
    height: 300px;
    flex-grow: 1;
}

.sexo-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

.sexo-checkbox input[type="radio"] {
    margin-left: 10px;
}

/* CSS para tornar o campo "inserir foto" mais redondo */
.formulario-circle {
    background-color: #c9d8bf;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 200ms;
    border: 3px black solid;
    margin-bottom: 24px;
    box-sizing: border-box;
}

#logo-input {
    display: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.input-text {
    margin-bottom: 12px;
    border: none;
    height: 24px;
    padding: 4px;
    border-radius: 4px;
    width: 100%;
}

textarea.input-text {
    height: 100px;
}

/* CSS para ajustar o espaço dentro do primeiro formulario-box */
.formulario-box:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.formulario-box label {
    flex-grow: 1;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .pagina-container {
        width: 80vw;
    }

    .formularios-container {
        flex-direction: column;
    }

    .formulario-box {
        width: 80%;
        height: auto;
    }

    .botao-cadastro-container {
        margin-top: 12px;
    }
}

@media (max-width: 480px) {
    .pagina-container {
        width: 90vw;
    }

    .formulario-circle {
        height: 100px;
        width: 100px;
    }

    .formulario-box {
        width: 90%;
        height: auto;
    }

    .input-text {
        height: 20px;
    }

    .botao-cadastro {
        width: 120px;
        height: 40px;
    }
}